* { box-sizing: border-box; -webkit-tap-highlight-color: transparent; }
body { margin: 0; background: #000; color: #fff; display: flex; justify-content: center; align-items: center; min-height: 100vh; font-family: sans-serif; overflow: hidden; }

.app { width: 95%; max-width: 450px; padding: 1.5rem; background: #0a0a0f; border-radius: 20px; border: 1px solid #222; }
h1 { text-align: center; color: #0ff; font-size: 1rem; letter-spacing: 3px; margin: 0 0 1rem 0; }

.radio { background: #000; padding: 10px; border-radius: 8px; border: 1px solid #222; margin-bottom: 10px; }
.dial-wrapper { position: relative; height: 30px; background: #080808; overflow: hidden; border: 1px solid #333; }
.dial-line { position: absolute; width: 2px; height: 100%; background: #0ff; box-shadow: 0 0 10px #0ff; animation: dial-move 40s infinite alternate ease-in-out; }
.paused-anim { animation-play-state: paused !important; }
@keyframes dial-move { 0% { left: 2%; } 100% { left: 98%; } }

.display { background: #000; border: 1px solid #1e293b; height: 60px; display: flex; justify-content: center; align-items: center; border-radius: 8px; margin-bottom: 10px; }
#message { font-family: monospace; font-size: 1.5rem; color: #0ff; font-weight: bold; }
.evp-active { color: #f33 !important; text-shadow: 0 0 10px #f00; }

.analyzer-grid { display: flex; flex-direction: column; gap: 8px; margin-bottom: 1.5rem; width: 100%; }
.eq-track { position: relative; width: 100%; }
.eq-track::before { content: attr(data-label); position: absolute; left: 2px; top: -2px; font-size: 8px; color: #555; font-family: monospace; }

.eq-container { display: flex; align-items: flex-end; height: 30px; width: 100%; gap: 1px; }
.bar { flex: 1; height: 10%; min-width: 1px; }

/* Degradados verticales por canal */
#eq-rf .bar { background: linear-gradient(to top, #ff4e50, #f9d423); }
#eq-kin .bar { background: linear-gradient(to top, #8e2de2, #4a00e0); }
#eq-mag .bar { background: linear-gradient(to top, #00c6ff, #0072ff); }
#eq-ir .bar { background: linear-gradient(to top, #00f260, #0575e6); }

.controls { display: flex; justify-content: center; }
#btnToggle { padding: 15px 40px; border-radius: 30px; border: none; background: #0ff; color: #000; font-weight: bold; cursor: pointer; width: 100%; max-width: 200px; }
